
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~vuetify/dist/vuetify.min.css";


* {
  font-family: 'Oswald', sans-serif;
}
.search_input {
  .v-input__slot{
    border-radius: 50px !important;
    padding: 0 29px !important;
    input::placeholder {
      color: #2c4983 !important;
    }
  }
}

.app_drawer {
  background-color: #2c4983 !important;
  padding: 20px;
  text-align: center;
  .v-btn__content img {
    width: 50px;;
  }
  .seddik_brand {
    max-width: 100%;
    margin-top: 20px;
  }
}

#sidebar_toggle {
  flex-wrap: wrap;
  width: 100%;
  background: none;
  box-shadow: none !important;
  // .v-btn:before {
  //   border-radius: 40px;
  // }
  .v-btn {
    width: 50% !important;
    white-space: normal !important;
    height: auto;;
    .v-btn__content{
      height: auto;
      flex-direction: column;
      /* word-break: break-all; */
      padding: 20px 10px;
      white-space: normal;
      color: white;
      opacity: 1;
      i {
        font-size: 60px;
      }
      h5 {
        font-size: 26px;
        font-weight: 400;
      }
      p {
        font-size: 8px;
      }
    }
  }
}


.logo {
  width: 200px;
}


.tree_header {
  font-size: 17px;
  color: #737373;
}
.content_html {
  padding-top: 50px;
}
.box-gtax {
  width: 90%;
  max-width: 900px;
  flex-direction: column;
  align-items: center;
  background: #4471cb;
  box-shadow: 0 5px 15px 0 rgba(37,44,97,0.15), 0 2px 4px 0 rgba(93,100,148,0.2);
  display: flex;
  padding: 10px 30px;
  border-radius: 150px;
  justify-content: center;
  color: white;
  h5 {
    margin: 0 10px;
    font-size: 20px
  }
  &__article {
    display: flex;
    align-items: center;
    @media screen and (max-width : 600px) {
       flex-direction: column;
    }
  }
  &__search {
    .v-input__slot{
      max-width: 200px;
      border-radius: 50px !important;
    }
    .v-input__control{
      height: 20px;
    }
    .v-icon  {
      background: #4471cb;
      border-radius: 100%;
      padding: 5px;
      color: white !important;
    }
  }
  &__toggle_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    border-radius: 20px;
    background: white !important;
    box-shadow: 0 5px 15px 0 rgba(37,44,97,0.15), 0 2px 4px 0 rgba(93,100,148,0.2);
  }
  &__toggle {
    background: white !important;
    box-shadow: none;
    border-radius: 20px;
    padding: 0px 10px;
    flex-wrap: wrap;
    .v-btn {
      padding: 0 20px;
      margin: 5px 0px;
      color: #4471cb !important;
    }
    .v-btn:hover {
      color: white !important;
    }
    .v-btn--active:before, .v-btn:focus:before, .v-btn:hover:before {
      background-color: #4471cb !important;
      border-radius: 20px;
      color: white !important;
      padding: 0 20px;
      opacity: 1;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .v-btn--active  {
      color: white !important;
    }
    h6 {
      font-size: 14px;
    }
  }
}

.treeview_wrapper {
  width: 100%;
  margin-top: 70px;
}

.app_outils_header {
  border-radius: 20px;
  display: flex;
  color: white;
  padding: 26px;
  border-radius: 40px;
  box-shadow: 0 5px 15px 0 rgba(37,44,97,0.15), 0 2px 4px 0 rgba(93,100,148,0.2);
  align-items: center;
  .arrow__back {
      color: white !important;
  }
  img {
    width: 50px;
    align-self: center;
  }
  &_content {
    display: flex;
    align-items: center;
    flex:2;
    padding-left: 15px;
  }
  &_title {
    padding: 0 10px;
  }
}

.arrow_back_yellow i{
    background: #e8a410;
    border-radius: 100%;
    padding: 5px;
}



.article_switcher_toggle {
    background: #3e66b8 !important;
    box-shadow: none;
    border-radius: 20px;
    padding: 0px 10px;
    flex-wrap: nowrap;
    .v-btn {
      padding: 0 20px;
      margin: 5px 0px;
    }
    .v-btn--active:before, .v-btn:focus:before, .v-btn:hover:before {
      background-color: #4471cb !important;
      border-radius: 20px;
      padding: 0 20px;
      opacity: 1;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    h6 {
      font-size: 14px;
      color: white;
      font-weight: 500;
    }
  }


  .coefficient_box_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coefficient_box{
     box-shadow: 0 5px 15px 0 rgba(37,44,97,0.15), 0 2px 4px 0 rgba(93,100,148,0.2);
    padding: 20px;
    margin: 20px 0;
    border-radius: 40px;
    text-align: center;
    width: 46%;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
    padding-bottom: 60px;
    .coefficient_details{
        display: flex;
        max-width: 250px;
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        margin: auto;
        background: #4a76cd;
        box-shadow: 0 5px 15px 0 rgba(37,44,97,0.15), 0 2px 4px 0 rgba(93,100,148,0.2);
        strong {
            color: #2c4983;
        }
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        margin: 0 auto;
        justify-content: space-around;
    }
}
.coefficient_item strong{
 color: #5284e2;
}


.toggle_drawer {
  .theme--light.v-icon {
    color: white !important;
    background: #2c4983 !important;
    padding: 8px;
    border-radius: 50%;
  }
 }

 .content_html {
  a {
   color: #1976d2;
    background: #ffc107;
    padding: 2px 12px;
    border-radius: 18px;
    text-decoration: none;
    margin: 0 6px;
 }
 }